extends layout

block content
	- if(err)
		div.alert.alert-error= err
	- if(success)
		div.alert.alert-info= success
	div.pull-left.mainbox
		div.search
			form.form-search(action="/", method="get")
				input.input.input-large.search-query(type="text", placeholder="搜索书名或关键字", name="s")
				input.btn.btn-info.btn-search(type="submit", value="搜 索")
				//span.hot-keys 推荐搜索：
					a.highlight(href="") javascript
					| &nbsp;
					a(href="") css
					| &nbsp;
					a(href="") nodejs
					| &nbsp;
					a(href="") 设计模式
					| &nbsp;
					a.highlight(href="") photoshop
					| &nbsp;
					a(href="") html5
					| &nbsp;
					a(href="") 移动web
		div.booklist
			- if(kw)
				div.search-keyword
					i.icons.icon-title
					| &nbsp;搜索关键词“
					span.highlight #{kw}
					| ”结果列表：
			- else
				div.search-keyword
					i.icons.icon-title
					| &nbsp;所有图书列表：
			ul.result-list
				- if(list)
				- each rs in list
					li.item.clearfix
						a.pic-link(href="/detail/#{rs.isbn}")
							img.list-pic(src="#{rs.pic}", width="250", height="250")
						div.list-detail
							p.text-link
								a(href="/detail/#{rs.isbn}") #{rs.bookname}
							table.book-info(border="0", width="100%")
								tr
									td(width="50%") 作&nbsp;&nbsp;&nbsp;&nbsp;者：#{rs.author} 编著
									td(width="50%") 出&nbsp;版&nbsp;社：#{rs.publish_house}
								tr
									td 出版时间：#{rs.publish_date}
									td 借阅次数：#{rs.borrow_times}次
								tr
									td ＩＳＢＮ：#{rs.isbn}
									td 可借册数：#{rs.book_number}册
							p.yahei.text-tit
								推荐阅读
							div.list-text #{rs.recommend}
							- var adm = isadmin;
							- if(adm != 0)
								a.yahei.btn.btn-medium.btn-danger(href="/delbook?isbn=#{rs.isbn}") 删除此书
								| &nbsp;&nbsp;
								a.yahei.btn.btn-medium.btn-success(href="/editbook?isbn=#{rs.isbn}") 编辑图书
							- var flag = parseInt(rs.book_number);
							- if(flag <= 0)
								a.yahei.btn.btn-medium.disabled.btn-apply(href="javascript:void(0);") 马上申请
							- else
								a.yahei.btn.btn-info.btn-medium.btn-apply(href="/apply/#{rs.isbn}") 马上申请

	//div.pull-right.sidebar
		h3.yahei.sb-title
			i.icons.icon-sbtitle
			| &nbsp;最受欢迎TOP10
		div.sb-body
			ul.top-list
				- str = '0123456789'.split("");
				- each i in str
					li.item
						a(href="#")
							i.icons.icon-books
							| &nbsp;Photoshop CS6 中文版标...
		h3.yahei.sb-title
			i.icons.icon-sbtitle
			| &nbsp;吐槽最多TOP5
		div.sb-body
			ul.top-list
				- str = '01234'.split("");
				- each i in str
					li.item
						a(href="#")
							i.icons.icon-books
							| &nbsp;Photoshop CS6 中文版标...
		h3.yahei.sb-title
			i.icons.icon-sbtitle
			| &nbsp;管理
		div.sb-body
			ul.top-list
				li.item
					a(href="#") 修改个人信息
				li.item
					a(href="#") 管理我的图书
				li.item
					a(href="#") 切换用户
				li.item
					a(href="#") 退出