doctype 5
html
	head
		meta(charset="UTF-8")
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		//link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/library.css')
		script(src="/javascripts/jquery-1.8.3.min.js")
		script(src="/javascripts/jquery.easing.min.js")
	body
		div.page
			div.header
				div.container
					a.logo(href="/")
						img(src="/images/logo.png")
					div.about-user
						- if(nick)
							div.yahei.user-action
								a.user-nick(href="#") #{nick}
									i.icons.icon-hassub
								ul.act-list
									li.item
										a(href="/userinfo/#{nick}") 个人信息
									li.item
										a(href="/logout?redirect_url=#{page_url}") 退出
						- else
							div.yahei.login-out
								a(href="/login?redirect_url=#{page_url}") 登录
								&nbsp;|&nbsp;
								a(href="#") 注册
			div.banner
				div.container
					div.banner-switch
						img.thumb(src="/images/f2e-thumb.png", width="300", height="240")
						img.intro(src="/images/f2e-intro.png", width="605", height="48")
						img.thumb(src="/images/f2e-thumb.png", width="300", height="240")
						img.intro(src="/images/f2e-intro.png", width="605", height="48")
						img.thumb(src="/images/f2e-thumb.png", width="300", height="240")
						img.intro(src="/images/f2e-intro.png", width="605", height="48")
						ul.switch-bar
							li.item.select 
							li.item 
							li.item 
			div.container.blockcontent
				block content
			div.yahei.footer
				div.container
					&copy; UX
					| <a href="/addbook">添加图书</a>
		script(src="/javascripts/library.js")