extends layout

block content
	- if(err)
		div.alert.alert-error= err
	- if(success)
		div.alert.alert-info= success
	div.borrow-main
		ul.borrow-list
			- if(list)
			- for ls in list
				li.item #{ls.username}&nbsp;&nbsp;#{ls.bookname}&nbsp;&nbsp;
				| <a href="/check_return?act=pass&isbn=#{ls.isbn}">确认还书</a>&nbsp;&nbsp;
				| <a href="/check_return?act=cancel&isbn=#{ls.isbn}">拒绝</a>